.shopContent{
    padding: 50px 50px 130px 50px;
}
.shopContent.productInfoVisible {
  padding: 50px 0px 130px 50px;
}

.conteiner{
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 50px;
}

.product-grid-page {
    padding: 20px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 160px; /* Отступ между рядами (внизу) */
    margin-bottom: 160px;
    column-gap: 30px; /* Отступ между колонками (в ряду) */
  }
  
  .product-card {
    text-align: center;
    max-width: 350px;
    max-height: 478px;
    transition: transform 0.5s ease-in-out;
  }
  .product-card:hover {
    transform: scale(1.05);
  }
/*   button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  } */

  .product-card__title{
    padding-top: 24px;
    padding-bottom: 7px;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    line-height: 1.4; 
    letter-spacing: 0.4px;
  }

  .product-card__price{
    color: var(--priceColor);
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.3px;
}

.product-card_btn{
    text-align: center;
}

.product-card__nextbtn{
    padding: 15px 20px;
    background-color: black;
    color: white;
    margin-right: 14px;
}

.product-card__nextbtn_arrow{
    text-align: center;
}

.shop__nav{
  
  margin-bottom: 92px;
}

.shopContent.productInfoVisible .shop__nav {
  margin-bottom: 0;
}
.category-menu{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.34px;
  
}

.category-btn{
  padding: 19px 65px;
  border: 1px solid black;
  color: black;
}

.category-btn.active{
  color: white;
  background-color: black;
}

.product-card__shown-text{
  color: #808080;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.4; /* 23.8px */
  letter-spacing: 0.34px;
  margin-bottom: 65px;
}

.hidden {
  display: none;
}


