.newcollection{
    padding: 0px 50px 0px 50px;
}

.conteiner {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 50px;
}

.newcollection__cards{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.newcollection__btn{
    display: flex;
    justify-content: center;
    padding-top: 65px;
}

.goMagazine{
    padding: 22px 50px;
    align-items: center;
    background-color: var(--accentColor);
    border: none;
    color: white;
    transition: color 0.5s ease;
}

.goMagazine:hover{
    background-color: #509498;
}
