.aboutusContent {
    padding: 50px 50px 0px 50px;
    
  }

  .container{
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 50px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Один столбец */
    grid-gap: 20px;
  }
  
  .grid-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 130px;
  }
  
  .aboutusPhoto {
    width: 445px;
    height: 550px;
  }

  .aboutusPhoto img{
    max-width: 445px;
    max-height: 550px;
  }

.aboutusContent__text{
    max-width: 554px;
}


.aboutusContent__title1{
    font-size: 25px;
    font-weight: 500;
    line-height:  35px;
    letter-spacing: 0.5px;
    padding-bottom: 46px;
}

.aboutusContent__title2{
    font-size: 17px;
    font-weight: 500;
    line-height: 23.8px;
    letter-spacing: 0.34px;
}

.aboutusContent__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 130px;
}

.btn_openshop {
    padding: 22px 50px;
    background-color: var(--accentColor);
    color: white;
    transition: color 0.5s ease;
  }

  .btn_openshop:hover{
    background-color: #509498;
  }

  /* Пример для экранов с шириной менее 768px */
@media (max-width: 800px) {
  .aboutusContent {
    padding: 20px; /* Измененные значения для мобильных устройств */
}

.container {
    padding: 0 20px; /* Измененные значения для мобильных устройств */
}

.grid-item {
    display: flex;
    flex-direction: column; /* Одна колонка на мобильных устройствах */
    align-items: center;
    gap: 20px; /* Уменьшенный отступ между элементами на мобильных устройствах */
    margin-bottom: 40px; /* Уменьшенный отступ внизу на мобильных устройствах */
}

.aboutusPhoto {
    width: 100%; /* Фотография занимает 100% ширины родительского элемента */
    max-width: none; /* Сбрасываем максимальную ширину */
    height: auto; /* Автоматическое соотношение сторон */
}

.aboutusContent__text {
    max-width: 100%; /* Занимает 100% ширины родительского элемента */
}

.aboutusContent__btn {
    padding-bottom: 20px; /* Уменьшенный отступ внизу на мобильных устройствах */
}

.btn_openshop {
    padding: 15px 30px; /* Измененные значения для кнопки на мобильных устройствах */
}
  }