.advantuges{
    padding: 0px 50px 130px 50px;
}

.conteiner {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 50px;
}


.conteiner__block{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.advantuges__title1{
    padding-top: 37px;
    padding-bottom: 24px;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.4; /* 35px */
    letter-spacing: 0.5px;
}

.advantugesImg img{
    width: 61px;
    height: 61px;
}

.advantuges__title2{
    max-width: 305px;
    max-height: 115px;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.4; /* 23.8px */
    letter-spacing: 0.34px;
}
@media only screen and (max-width: 768px) {

    .advantuges {
        padding: 20px; /* Измененные значения для мобильных устройств */
    }
    
    .conteiner {
        padding: 0 20px; /* Измененные значения для мобильных устройств */
    }
    
    .conteiner__block {
        flex-direction: column; /* Измененная ориентация для мобильных устройств */
        align-items: center; /* Выравнивание по центру для мобильных устройств */
        column-gap: 0; /* Убран отступ между элементами */
    }
    
    .advantuges__title1 {
        padding-top: 20px; /* Измененные значения для мобильных устройств */
        padding-bottom: 12px; /* Измененные значения для мобильных устройств */
        font-size: 20px; /* Измененные значения для мобильных устройств */
        line-height: 1.3; /* Измененные значения для мобильных устройств */
    }
    
    .advantugesImg img {
        width: 40px; /* Измененные значения для мобильных устройств */
        height: 40px; /* Измененные значения для мобильных устройств */
    }
    
    .advantuges__title2 {
        max-width: 100%; /* Заполнение ширины экрана для мобильных устройств */
        max-height: none; /* Убрано ограничение высоты */
        font-size: 16px; /* Измененные значения для мобильных устройств */
        line-height: 1.3; /* Измененные значения для мобильных устройств */
        text-align: center; /* Выравнивание по центру для мобильных устройств */
    }
}