.advantuges{
    padding: 0px 50px 130px 50px;
}

.conteiner {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 50px;
}


.conteiner__block{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.advantuges__title1{
    padding-top: 37px;
    padding-bottom: 24px;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.4; /* 35px */
    letter-spacing: 0.5px;
}

.advantugesImg img{
    width: 61px;
    height: 61px;
}

.advantuges__title2{
    max-width: 305px;
    max-height: 115px;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.4; /* 23.8px */
    letter-spacing: 0.34px;
}