.title1_slide{
    padding-top: 145px;
    font-size: 55px;
    font-weight: 500;
    line-height: 60.5px;
    letter-spacing: 1.1px;
    max-width: 585px;
    text-align: left;
}

.title2_slide{
    padding-top: 45px;
    padding-bottom: 52px;
    width: 385px;
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    line-height:  28px;
    letter-spacing: 0.4px;
}

.btn_slider{
    display: flex;
    padding-left: 90px;
    padding-bottom: 130px;
  }

  .btn_arrowdown{
    width: 67px;
    height: 67px;
    background-color: rgba(110, 156, 159, 0.10);
    border: none; /* Убираем стандартную рамку */
    transition: border 0.5s ease; /* Добавляем плавный переход для рамки */
    display: flex; /* Добавляем flex-контейнер */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
  }

  .btn_arrowdown:hover {
    border: 2px solid #6E9C9F; /* Добавляем рамку при наведении */
  }

  .btn_openshop {
    padding: 22px 50px;
    align-items: center;
    gap: 10px;
    background-color: var(--accentColor);
    color: white;
    transition: color 0.5s ease;
  }

  .btn_openshop:hover{
    background-color: #509498;
  }