.title1_slide{
    padding-top: 145px;
    font-size: 55px;
    font-weight: 500;
    line-height: 60.5px;
    letter-spacing: 1.1px;
    max-width: 585px;
    text-align: left;
}

.title2_slide{
    padding-top: 45px;
    padding-bottom: 52px;
    width: 385px;
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    line-height:  28px;
    letter-spacing: 0.4px;
}

.btn_slider_shop{
    display: flex;
    padding-left: 90px;
    padding-bottom: 130px;
  }

  .btn_arrowdown{
    width: 67px;
    height: 67px;
    background-color: rgba(110, 156, 159, 0.10);
    border: none; /* Убираем стандартную рамку */
    transition: border 0.5s ease; /* Добавляем плавный переход для рамки */
    display: flex; /* Добавляем flex-контейнер */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
  }

  .btn_arrowdown:hover {
    border: 2px solid #6E9C9F; /* Добавляем рамку при наведении */
  }


  .goMagazine{
    padding: 22px 50px;
    align-items: center;
    background-color: var(--accentColor);
    border: none;
    color: white;
    transition: color 0.5s ease;
}

.goMagazine:hover{
    background-color: #509498;
}
@media only screen and (max-width: 768px) {
  .title1_slide {
    padding-top: 50px;
    font-size: 40px;
    line-height: 44px;
    max-width: 100%; /* Изменено для мобильных устройств */
    text-align: center;
  }

  .title2_slide {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%; /* Изменено для мобильных устройств */
    text-align: center;
  }

  .btn_slider_shop {
    flex-direction: column; /* Изменено для мобильных устройств */
    padding-left: 0;
    padding-bottom: 30px;
    align-items: center;
  }

  .btn_arrowdown {
    margin-bottom: 20px; /* Изменено для мобильных устройств */
  }

  .goMagazine {
    padding: 15px 30px; /* Изменено для мобильных устройств */
  }
}