@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
.slideStyles {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .slick-dots li{
    margin: 20px;
  }

  .slick-dots li button{
    width: 30px;
    height: 2px;
  }
