.breadcrumbs-conteiner {
    padding: 145px 50px 84px 50px;
  }
  

  
  .breadcrumb-link {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.4; /* 23.8px */
    letter-spacing: 0.34px;
    color: black; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    margin-right: 13px;
    transition: color 0.5s ease;
  }
  
.breadcrumb-link:hover{
    color: var(--accentColor); 
    border-bottom/*  */: solid 1px var(--accentColor);
}
  .breadcrumb-text {
    color: #909090;
    font-size: 17px;
    font-weight: 500;
    line-height: 140%; /* 23.8px */
    letter-spacing: 0.34px;
  }

  .breadcrumb-separator {
    margin: 0 5px;
    color: #666; /* Цвет разделителя */
  }